<body style = "text-align : center">

        <form>

            <div class="form-group">
                <label>Select Account<input type="text" class="form-control" style="font-size: 80%" minlength="10" maxlength="10" placeholder="Savings" name=Savings required /></label>
            </div>


            <div class="form-group">
                    <label>Number of Leaves<input type="text" class="form-control" style="font-size: 80%"  placeholder="No. of leaves                 20" name="no. of leaves" readonly="readonly"/></label>
            </div>


            <div class="form-group">
                    <label>Communication Address<textarea type="text" class="form-control" style="font-size: 80%" name="address" readonly="readonly"></textarea></label>
            </div>


            <div class="form-group">
                    <input type="checkbox" name="confirming address" value="confirming address"> I confirm that the above address is correct<br>
            </div>
            
                <br>

            <button type="submit" class="btn btn-success">Submit</button>

        </form>









</body>

